doctype html
html(lang='en')
    head
        title Notifications Center
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
        link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='stylesheets/dataTables.bootstrap.min.css')
        link(rel='stylesheet', href='https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', href='stylesheets/bootstrap-tokenfield.min.css')
        link(rel='stylesheet', href='stylesheets/tokenfield-typeahead.min.css')
        link(rel='stylesheet', href='stylesheets/reset.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/main.css')
        style(type='text/css').
            .back-link a {
                color: #4ca340;
                text-decoration: none;
                border-bottom: 1px #4ca340 solid;
            }

            .back-link a:hover,
            .back-link a:focus {
                color: #408536;
                text-decoration: none;
                border-bottom: 1px #408536 solid;
            }

            h1 {
                height: 100%;
                /* The html and body elements cannot have any padding or margin. */
                margin: 0;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                font-size: 32px;
                margin-bottom: 3px;
            }

            .entry-header {
                text-align: left;
                margin: 0 auto 50px auto;
                width: 80%;
                max-width: 978px;
                position: relative;
                z-index: 10001;
            }

            #demo-content {
                padding-top: 100px;
            }
        script(src='javascripts/modernizr.js')
        script(src='javascripts/jquery-2.1.1.js')
        script(src='javascripts/main.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js')
        script(src='https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js')
        script(src='javascripts/datatables.min.js')
        script(src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js')
        script(src='https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js')
        script(src='https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js')
        script(src='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js', type='text/javascript')
        script(src='javascripts/dataTables.buttons.min.js')
        script(src='javascripts/dataTables.select.min.js')
        script(src='javascripts/bootstrap-tokenfield.min.js')


    body
        header.cd-header
            a.cd-3d-nav-trigger
                | Menu
                span
        nav.cd-3d-nav-container
            ul.cd-3d-nav
                li
                    a(href='/home') Notifications Center
                li
                    a(href='/gestioneInteressi') Interessi
                li
                    a(href='/gestioneContatto') Anagrafica
                li
                    a(href='/gestioneEventi') Eventi
                li.cd-selected
                    a(href='/assegnaEvento') Invio Notifiche
                li
                    a(href='/gestioneNotifiche') Gestione Report
                li
                    a(href='/chatOperatoreSMS') Chat
                li
                    a(href='/logout') Logout
        br
        #loader-wrapper
            #loader
            .loader-section.section-left
            .loader-section.section-right
        block myContainer
        .container-fluid
            .jumbotron
                .row
                    h1(style='text-align: center;') Gestione Invio Notifiche

            #myModal.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Utente già notificato!
                        // dialog buttons
                        .modal-footer

            #myModal1.modal.fade
                .modal-dialog
                    .modal-content
                        // dialog body
                        .modal-body
                            button.close(type='button', data-dismiss='modal') ×
                            h1 Invio!
                            .row
                                .col-md-12
                                    h3#myHeader Caricamento In Corso...
                                        br
                                        .progress.progress-striped.active.page-progress-bar
                                            .progress-bar(style='width: 100%;')
                                                | Attendere Prego

            .row
                .col-sm-4
                    h3 Scegli un'opzione :
            .row
                .col-sm-2
                    h4 Invia Evento
                    .material-switch
                        input#invioEvento(name='someSwitchOption001', type='checkbox', checked=false, onchange='switchTable1();')
                        label.label-success(for='invioEvento')
                .col-sm-2
                    h4 Invia Nota Informativa
                    .material-switch
                        input#invioNotainformativa(name='someSwitchOption001', type='checkbox', checked=false, onchange='switchTable1();')
                        label.label-success(for='invioNotainformativa')
            br
            hr
            .row#hideInfo
                .col-sm-12
                    .alert.alert-danger
                        strong Info!
                        |  Selezionare solo un'opzione.
            .container-fluid#conteinerHideModalita
                .row
                    .col-sm-4
                        h3 Seleziona modalità di comunicazione
                    .col-sm-2
                    .col-sm-4
                        h3 Seleziona modalità d'interesse
                .row
                    .col-sm-2
                        h4 Push Notifications
                        .material-switch
                            input#invioPush(name='someSwitchOption001', type='checkbox', checked=true, onchange='switchTable();')
                            label.label-success(for='invioPush')
                    .col-sm-2
                        h4 E-mail
                        .material-switch
                            input#invioEmail(name='someSwitchOption001', type='checkbox', checked=true, onchange='switchTable();')
                            label.label-success(for='invioEmail')
                    .col-sm-2
                        h4 SMS
                        .material-switch
                            input#invioSms(name='someSwitchOption001', type='checkbox', checked=true, onchange='switchTable();')
                            label.label-success(for='invioSms')
                    .col-md-6
                        label.cols-sm-2.control-label(for='interessi') Interessi
                        .cols-sm-10
                            .input-group
                                span.input-group-addon
                                    i.fa.fa-hashtag(aria-hidden='true')
                                input#interessi.form-control(type='text', name='interessi', placeholder='Interessi', onchange='switchTable();')
            br
            .container-fluid#conteinerHideEvento
                .row
                    .col-sm-4
                        h3 Seleziona L'evento
                    .col-sm-6.pull-right
                        h3 Seleziona i contatti
            .row
                .col-sm-6.table-responsive
                    table#tabellaEventi.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th
                                th Titolo Evento
                                th Sottotitolo Evento
                                th Luogo
                                th Data Inizio
                                th Data Fine
                                th Relatori
                .col-sm-6.table-responsive
                    table#tabellaUtenti.table.table-striped.table-bordered(width='100%', cellspacing='0')
                        thead
                            tr
                                th id
                                th Username
                                th Cognome
                                th Nome
                                th Professione
                                th Residenza

            br
            .container-fluid
                .row
                    .col-sm-2.pull-right
                        button#SalvaDati.btn.btn-primary.btn-lg.pull-right.btn-block(onclick='salvaDati();') Invia
                    .col-sm-2.pull-right
                        button#SelezionaTutti.btn.btn-primary.btn-lg.pull-right.btn-block(onclick='selezionaTutti();') Seleziona Tutti
                    .col-sm-2.pull-right
                        button#DeselezionaTutti.btn.btn-primary.btn-lg.pull-right.btn-block(onclick='deselezionaTutti();') Deseleziona Tutti
            br
        nav.navbar.navbar-default
            .container-fluid
                .row
                    a(target='_blank', href='http://www.ak12srl.it/', style="float:right; padding-top:8px")
                        img(src='images/ak12.png', alt='Company Logo', width='70', height='30')
                    h5(style="float:right; padding-top:18px") © Copyright 2018 - AK-12. All Rights Reserved.
    block myScript
        script(src="javascripts/controllers/assegnaEventoController.js")